body {
	overflow-x: hidden;
	font-size: 12pt;
	font-family: ubuntu;	
}

body > table {
	width: 100%;
	height: 100%;
}

td#title-cell {

}

#title-text>a {
	text-decoration: none;
    font-size: 56pt;
    color: #777777;
}

#alpha {
	text-decoration: none;
	font-size: 12pt;
	color: #777777;
}

td#title-cell>hr {
	border: 2px solid #AAAAAA;
	border-radius: 5px;
}

td.in-content-row {
	height: 100%;
}

td.in-content-row>div {
	height: 100%;
}

#recent-pastes-container {
}

#recent-pastes-title {
	padding-bottom: 4px;
	padding-left: 4px;
    color: #888888;
}

td#recent-pastes-cell {
	width: 200px;
	max-width: 200px;
	overflow-x: hidden;	
	min-width: 200px;
}

.recent-paste-link {
	padding-left: 4px;
	cursor: pointer;
}

.recent-paste-link.hovered {
	background: #EEEEEE;
}

.recent-paste-link-container>a{
	text-decoration: none;
	color: #333333;
}

td#content-cell {
	
}

#content-container {
	padding-left: 20px;
}

#content-container>pre {
	width: 66%;
	overflow-x: auto;
}

#content-container>#paste-form>textarea {
	width: 100%;
	height: 90%;
}

#content-container>#paste-form {
	width: 100%;
	height: 100%;
}

.nice-time-little {
	text-decoration: none;
	font-size: 8pt;
	color: #555555;
	padding: 0px;
	position: relative;
	top: -6px;
}
