body {
	overflow-x: auto;
	font-size: 12pt;
	font-family: ubuntu;
	background: white;
}

body > table {
	width: 100%;
	height: 100%;
}

td#title-cell {
    vertical-align: top;
}

td#body-cell {
	vertical-align: top;
}

#link-bar {
    margin-left: 50px;	
}

#title-text>a {
	text-decoration: none;
    font-size: 48pt;
    color: black;
}

#title-text>a>#the-u {
	color: #0052CE;
}

#alpha {
	text-decoration: none;
	font-size: 12pt;
	color: #CE5200;
}

td#title-cell>hr {
	border: 2px solid #AAAAAA;
	border-radius: 5px;
}

td.in-content-row {
	height: 100%;
}

td.in-content-row>div {
	height: 100%;
}

#recent-pastes-container {
	min-width: 220px;
	max-width: 320px;
}

#recent-pastes-title {
	padding-bottom: 4px;
	padding-left: 4px;
    color: #888888;
}

#recent-pastes-footer {
    padding-top: 16px;
    padding-left: 4px;
}

#recent-pastes-footer > a{
    color: #888888;
}

td#recent-pastes-cell {
    overflow: hidden;
    width: 225px;
    max-width: 325px;
}

#recent-pastes-container > fieldset {
    background: white;
    border: 1px solid black;
    width: 200px;
    min-width: 200px;
    max-width: 300px;
    overflow: hidden;
}
.recent-paste-link {
	padding-left: 4px;
	cursor: pointer;
}   

.recent-paste-link.hovered {
	background: #EEEEEE;
}

.recent-paste-link-container>a{
	text-decoration: none;
	color: #333333;
}

td#content-cell {
	
}

#content-container {
	padding-left: 20px;
}

#content-container>pre {
	max-width: 80em;
	overflow-x: auto;
    background: white;
}

#content-container>#paste-form>textarea {
	
}

.CodeMirror {
	background: #F5F5F5;
    width: 100%;
}

.CodeMirror-lines {
	background: #EEEEEE;
}

.CodeMirror-cursor {
	color: #0052CE;
	width: 2px;
}

.CodeMirror-scroll {
    overflow-y: auto;
    height: 90%;
    max-height: 90%;    
}

#content-container>#paste-form {
	width: 100%;
	height: 100%;
}

#content-container>#paste-form>#meta {
    padding-top: 10px;
}

.nice-time-little {
	text-decoration: none;
	font-size: 8pt;
	color: #555555;
	padding: 0px;
	position: relative;
	top: -6px;
}

#browse-pastes > .paste {
	padding: 6px;
	margin-bottom: 10px;
	margin-right: 10px;
    float: left;
    border: 1px solid black;
    height: 100px;
    width: 150px;
    overflow: hidden;	
}

#paste-title {
	font-size: 26pt;
}

#paste-view-container {
    width: 100%;
    height: 100%;
}